# Makemytrip.com- Data Scraping

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import selenium.webdriver
from datetime import date
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from dateutil.relativedelta import relativedelta
import csv
import linecache
import sys

In [2]:
def PrintException():
    exc_type, exc_obj, tb = sys.exc_info()
    f = tb.tb_frame
    lineno = tb.tb_lineno
    filename = f.f_code.co_filename
    linecache.checkcache(filename)
    line = linecache.getline(filename, lineno, f.f_globals)
    print('EXCEPTION IN ({}, LINE {} "{}"): {}'.format(filename, lineno, line.strip(), exc_obj))

In [3]:
def scrap(origin,destin,trDate):
    global none
    baseDataUrl = "https://www.makemytrip.com/flight/search?itinerary="+ origin +"-"+ destin +"-"+ trDate +"&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E"

    try:
        driver = selenium.webdriver.Chrome('chromedriver.exe') 
        print ("Requesting URL: " + baseDataUrl)

        driver.get(baseDataUrl)  
        print ("Webpage found ...")

        element_xpath = '//*[@id="left-side--wrapper"]/div[2]'

        
        element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))

        print ("Scrolling document upto bottom ...")
        for j in range(1, 100):
            driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

        
        body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

        print("Closing Chrome ...")
        driver.quit()

        print("Getting data from DOM ...")
        soupBody = BeautifulSoup(body)
        
       
        spanFlightName = soupBody.find_all("span", 'boldFont blackText airlineName')
        print("spanFlightName  = " + str(len(spanFlightName)))

        Time = soupBody.find_all("p", {"class":"blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"})			# Tags with Departure Time
        print("Time Count in Scraping  = " + str(len(Time)))

        City = soupBody.findAll("p", {"class": "darkText"})
        print("City Count in Scraping  = " + str(len(City)))

        spanFlightCost = soupBody.findAll("p", {"class": "blackText fontSize18 blackFont white-space-no-wrap"})			# Tags with Flight Cost
        print("spanFlightCost Count in Scraping  = " + str(len(spanFlightCost)))

        pFlightStops = soupBody.findAll("p", {"class": "flightsLayoverInfo"})
        print("pFlightStops Count in Scraping  = " + str(len(pFlightStops)))
        
        transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops)



   
    except :
        PrintException()
        print(trDate," scraping complete")
        
        none =True

In [4]:
dates=(pd.date_range(start='15/10/2021', end='31/10/2021'))
New_date=[]
for i,date in enumerate(dates):
    day=str(date.day).zfill(2)   
    month=str(date.month).zfill(2)
    year=str(date.year)
    date=day+'/'+month+'/'+year  
    New_date.append(date)
print(New_date)

['15/10/2021', '16/10/2021', '17/10/2021', '18/10/2021', '19/10/2021', '20/10/2021', '21/10/2021', '22/10/2021', '23/10/2021', '24/10/2021', '25/10/2021', '26/10/2021', '27/10/2021', '28/10/2021', '29/10/2021', '30/10/2021', '31/10/2021']

In [5]:
#Lists to store scraped data
Airline=[]
Journey_date=[]
From=[]
To=[]
Price=[]
Dtime=[]
Atime=[]
Stops=[]

flight_data = pd.DataFrame(np.nan, index=[0], columns=['Airline', 'Journey_date','From','To','Dtime','Atime','Stops','Price'])
flight_data.to_csv('Flight.csv')
 
def transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops):
    
    Airline.clear()
    Journey_date.clear()
    Price.clear()
    Stops.clear()
    From.clear()
    Dtime.clear()
    To.clear()
    Atime.clear()
    
    global flight_data
    print("Transaform Function Running.... ")
    for i in range(0,len(spanFlightName)):
        
        Airline.append(spanFlightName[i].string)
        Journey_date.append(trDate)
        Price.append(spanFlightCost[i].string)
        Stops.append(pFlightStops[i].string)
        
      
    for j in range(0,len(Time)):
        
        if(j%2==0):
            
            From.append(City[j].string)
            Dtime.append(Time[j].string)
        else:
            
            To.append(City[j].string)
            Atime.append(Time[j].string) 

            
            
    temp = {'Airline':Airline,
            'Journey_date':Journey_date,
            'From':From,
            'To':To,
            'Dtime':Dtime,
            'Atime':Atime,
            'Stops':Stops,
            'Price':Price}
    df=pd.DataFrame(temp)
    df.to_csv('Flight.csv', mode='a', header=False)
    flight_data = pd.concat([flight_data,df])
    flight_data=flight_data.reset_index(drop=True)
    display(flight_data)
    print('Lenght : ',len(flight_data))

In [6]:
list_of_dest=['GOI','AMD','TIR','BLR','BOM','DEL','JAI','MAA','LKU','CCU','PNQ']
for i in range(0,len(list_of_dest)):
    orgin=list_of_dest[i]
    for_to=list_of_dest
    print("--------------")
    for j in range(0,len(for_to)):
        destin=for_to[j]
        none = False
        print("origin = "+orgin)
        print("destin = "+destin+'\n')
        if orgin!=destin:
            for i,date in enumerate(New_date) :
                if none !=True:
                    scrap(orgin,destin,date)
                    print(" ")
                else:
                    break
            else: 
                print( "-----Skiped-----")
                print(" ")

--------------
origin = GOI
destin = GOI

origin = GOI
destin = AMD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
5,Go First,15/10/2021,Goa,Ahmedabad,16:15,21:05,1 stop via Mumbai,"₹ 5,315"
6,Go First,15/10/2021,Goa,Ahmedabad,14:25,21:05,1 stop via Mumbai,"₹ 5,315"
7,Go First,15/10/2021,Goa,Ahmedabad,13:40,21:05,1 stop via Mumbai,"₹ 5,315"
8,Go First,15/10/2021,Goa,Ahmedabad,17:25,08:35,1 stop via New Delhi,"₹ 5,315"
9,IndiGo,15/10/2021,Goa,Ahmedabad,15:25,17:05,Non stop,"₹ 5,316"
10,IndiGo,15/10/2021,Goa,Ahmedabad,21:40,23:20,Non stop,"₹ 5,316"
11,IndiGo,15/10/2021,Goa,Ahmedabad,19:50,23:25,1 stop via Mumbai,"₹ 5,316"
12,IndiGo,15/10/2021,Goa,Ahmedabad,18:30,23:25,1 stop via Mumbai,"₹ 5,316"
13,IndiGo,15/10/2021,Goa,Ahmedabad,16:30,23:25,1 stop via Mumbai,"₹ 5,316"
14,IndiGo,15/10/2021,Goa,Ahmedabad,14:40,21:15,1 stop via Hyderabad,"₹ 5,773"
15,"Go First, Air India",15/10/2021,Goa,Ahmedabad,13:40,18:10,1 stop via Mumbai,"₹ 7,898"
16,"AirAsia, Go First",15/10/2021,Goa,Ahmedabad,18:55,08:30,"2 stop via Mumbai,Bengaluru","₹ 7,899"

Lenght :  17

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-16/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
5,Go First,15/10/2021,Goa,Ahmedabad,16:15,21:05,1 stop via Mumbai,"₹ 5,315"
6,Go First,15/10/2021,Goa,Ahmedabad,14:25,21:05,1 stop via Mumbai,"₹ 5,315"
7,Go First,15/10/2021,Goa,Ahmedabad,13:40,21:05,1 stop via Mumbai,"₹ 5,315"
8,Go First,15/10/2021,Goa,Ahmedabad,17:25,08:35,1 stop via New Delhi,"₹ 5,315"
9,IndiGo,15/10/2021,Goa,Ahmedabad,15:25,17:05,Non stop,"₹ 5,316"
10,IndiGo,15/10/2021,Goa,Ahmedabad,21:40,23:20,Non stop,"₹ 5,316"
11,IndiGo,15/10/2021,Goa,Ahmedabad,19:50,23:25,1 stop via Mumbai,"₹ 5,316"
12,IndiGo,15/10/2021,Goa,Ahmedabad,18:30,23:25,1 stop via Mumbai,"₹ 5,316"
13,IndiGo,15/10/2021,Goa,Ahmedabad,16:30,23:25,1 stop via Mumbai,"₹ 5,316"
14,IndiGo,15/10/2021,Goa,Ahmedabad,14:40,21:15,1 stop via Hyderabad,"₹ 5,773"
15,"Go First, Air India",15/10/2021,Goa,Ahmedabad,13:40,18:10,1 stop via Mumbai,"₹ 7,898"
16,"AirAsia, Go First",15/10/2021,Goa,Ahmedabad,18:55,08:30,"2 stop via Mumbai,Bengaluru","₹ 7,899"
17,Spicejet,16/10/2021,Goa,Ahmedabad,07:45,09:45,Non stop,"₹ 5,315"
18,Spicejet,16/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
19,Go First,16/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
20,Spicejet,16/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
21,Go First,16/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
22,Go First,16/10/2021,Goa,Ahmedabad,11:10,17:00,1 stop via New Delhi,"₹ 5,315"
23,Go First,16/10/2021,Goa,Ahmedabad,11:10,17:00,1 stop via New Delhi,"₹ 5,315"
24,Go First,16/10/2021,Goa,Ahmedabad,16:15,21:05,1 stop via Mumbai,"₹ 5,315"
25,Go First,16/10/2021,Goa,Ahmedabad,14:25,21:05,1 stop via Mumbai,"₹ 5,315"
26,IndiGo,16/10/2021,Goa,Ahmedabad,09:10,10:50,Non stop,"₹ 5,316"
27,IndiGo,16/10/2021,Goa,Ahmedabad,15:25,17:05,Non stop,"₹ 5,316"
28,IndiGo,16/10/2021,Goa,Ahmedabad,09:15,14:40,1 stop via Mumbai,"₹ 5,316"
29,IndiGo,16/10/2021,Goa,Ahmedabad,09:15,14:40,1 stop via Mumbai,"₹ 5,316"
30,IndiGo,16/10/2021,Goa,Ahmedabad,13:10,17:40,1 stop via Mumbai,"₹ 5,316"
31,IndiGo,16/10/2021,Goa,Ahmedabad,12:00,17:40,1 stop via Mumbai,"₹ 5,316"
32,IndiGo,16/10/2021,Goa,Ahmedabad,10:55,17:40,1 stop via Mumbai,"₹ 5,316"
33,IndiGo,16/10/2021,Goa,Ahmedabad,16:30,21:10,1 stop via Mumbai,"₹ 5,316"
34,IndiGo,16/10/2021,Goa,Ahmedabad,10:40,18:30,1 stop via Nagpur,"₹ 6,230"
35,Air India,16/10/2021,Goa,Ahmedabad,07:30,18:10,1 stop via Mumbai,"₹ 6,724"
36,"Spicejet, IndiGo",16/10/2021,Goa,Ahmedabad,09:15,14:40,1 stop via Mumbai,"₹ 7,898"
37,"Go First, Air India",16/10/2021,Goa,Ahmedabad,13:40,18:10,1 stop via Mumbai,"₹ 7,898"
38,"Go First, IndiGo",16/10/2021,Goa,Ahmedabad,14:25,19:45,1 stop via Mumbai,"₹ 7,898"
39,"AirAsia, Go First",16/10/2021,Goa,Ahmedabad,07:55,12:55,1 stop via Mumbai,"₹ 7,899"
40,"AirAsia, IndiGo",16/10/2021,Goa,Ahmedabad,09:55,14:40,1 stop via Mumbai,"₹ 7,900"
41,"Vistara, Air India",16/10/2021,Goa,Ahmedabad,13:20,18:10,1 stop via Mumbai,"₹ 7,900"
42,"IndiGo, Go First",16/10/2021,Goa,Ahmedabad,16:30,21:05,1 stop via Mumbai,"₹ 8,003"

Lenght :  43

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-17/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
66,"Air India, Go First",17/10/2021,Goa,Ahmedabad,15:20,21:05,1 stop via Mumbai,"₹ 14,094"
67,"Vistara, Air India",17/10/2021,Goa,Ahmedabad,13:20,18:10,1 stop via Mumbai,"₹ 14,095"
68,Spicejet,17/10/2021,Goa,Ahmedabad,17:40,19:20,Non stop,"₹ 14,451"
69,Spicejet,17/10/2021,Goa,Ahmedabad,18:15,20:20,Non stop,"₹ 14,451"
70,"IndiGo, Go First",17/10/2021,Goa,Ahmedabad,16:30,21:05,1 stop via Mumbai,"₹ 15,143"

Lenght :  71

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-18/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
90,Go First,18/10/2021,Goa,Ahmedabad,13:40,17:15,1 stop via Mumbai,"₹ 11,793"
91,Go First,18/10/2021,Goa,Ahmedabad,11:45,17:15,1 stop via Mumbai,"₹ 12,633"
92,Go First,18/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 14,451"
93,Vistara,18/10/2021,Goa,Ahmedabad,14:30,19:40,1 stop via New Delhi,"₹ 19,807"
94,Air India,18/10/2021,Goa,Ahmedabad,15:25,21:30,1 stop via New Delhi,"₹ 19,807"

Lenght :  95

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-19/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
108,IndiGo,19/10/2021,Goa,Ahmedabad,15:25,17:05,Non stop,"₹ 9,936"
109,Go First,19/10/2021,Goa,Ahmedabad,09:35,21:05,1 stop via Mumbai,"₹ 10,113"
110,Go First,19/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 10,145"
111,IndiGo,19/10/2021,Goa,Ahmedabad,11:15,21:15,1 stop via Hyderabad,"₹ 10,340"
112,IndiGo,19/10/2021,Goa,Ahmedabad,20:05,06:50,1 stop via Hyderabad,"₹ 10,340"

Lenght :  113

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-20/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
132,IndiGo,20/10/2021,Goa,Ahmedabad,16:30,21:10,1 stop via Mumbai,"₹ 7,143"
133,Go First,20/10/2021,Goa,Ahmedabad,16:15,21:05,1 stop via Mumbai,"₹ 7,593"
134,IndiGo,20/10/2021,Goa,Ahmedabad,13:10,17:40,1 stop via Mumbai,"₹ 7,679"
135,Air India,20/10/2021,Goa,Ahmedabad,07:30,18:10,1 stop via Mumbai,"₹ 7,995"
136,Vistara,20/10/2021,Goa,Ahmedabad,12:15,19:40,"2 stop via Mumbai,New Delhi","₹ 15,345"

Lenght :  137

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-21/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
158,Spicejet,21/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 6,365"
159,Air India,21/10/2021,Goa,Ahmedabad,07:30,18:10,1 stop via Mumbai,"₹ 6,724"
160,Go First,21/10/2021,Goa,Ahmedabad,13:40,17:15,1 stop via Mumbai,"₹ 7,383"
161,IndiGo,21/10/2021,Goa,Ahmedabad,15:25,17:05,Non stop,"₹ 9,516"
162,Vistara,21/10/2021,Goa,Ahmedabad,11:35,19:40,1 stop via New Delhi,"₹ 11,834"

Lenght :  163

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-22/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
183,Spicejet,22/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,631"
184,IndiGo,22/10/2021,Goa,Ahmedabad,16:30,21:10,1 stop via Mumbai,"₹ 5,773"
185,Go First,22/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,893"
186,Air India,22/10/2021,Goa,Ahmedabad,12:30,18:10,1 stop via Mumbai,"₹ 6,724"
187,Vistara,22/10/2021,Goa,Ahmedabad,11:35,19:40,1 stop via New Delhi,"₹ 11,254"

Lenght :  188

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-23/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
209,IndiGo,23/10/2021,Goa,Ahmedabad,18:30,23:25,1 stop via Mumbai,"₹ 5,316"
210,Spicejet,23/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,841"
211,Go First,23/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,893"
212,Air India,23/10/2021,Goa,Ahmedabad,07:30,18:10,1 stop via Mumbai,"₹ 6,724"
213,Vistara,23/10/2021,Goa,Ahmedabad,11:35,19:40,1 stop via New Delhi,"₹ 11,254"

Lenght :  214

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-24/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
234,IndiGo,24/10/2021,Goa,Ahmedabad,19:50,23:25,1 stop via Mumbai,"₹ 8,970"
235,IndiGo,24/10/2021,Goa,Ahmedabad,18:30,23:25,1 stop via Mumbai,"₹ 9,427"
236,IndiGo,24/10/2021,Goa,Ahmedabad,11:45,17:40,1 stop via Mumbai,"₹ 10,340"
237,Vistara,24/10/2021,Goa,Ahmedabad,11:35,19:40,1 stop via New Delhi,"₹ 11,834"
238,Go First,24/10/2021,Goa,Ahmedabad,13:40,17:15,1 stop via Mumbai,"₹ 12,633"

Lenght :  239

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-25/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
252,Spicejet,25/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,421"
253,IndiGo,25/10/2021,Goa,Ahmedabad,12:00,17:40,1 stop via Mumbai,"₹ 5,773"
254,Go First,25/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,893"
255,Spicejet,25/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 6,365"
256,IndiGo,25/10/2021,Goa,Ahmedabad,13:10,17:40,1 stop via Mumbai,"₹ 7,143"

Lenght :  257

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
277,IndiGo,26/10/2021,Goa,Ahmedabad,19:50,23:25,1 stop via Mumbai,"₹ 5,316"
278,IndiGo,26/10/2021,Goa,Ahmedabad,18:30,23:25,1 stop via Mumbai,"₹ 5,316"
279,Go First,26/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,893"
280,Air India,26/10/2021,Goa,Ahmedabad,07:30,18:10,1 stop via Mumbai,"₹ 6,724"
281,Vistara,26/10/2021,Goa,Ahmedabad,14:30,19:40,1 stop via New Delhi,"₹ 10,629"

Lenght :  282

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-27/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
303,IndiGo,27/10/2021,Goa,Ahmedabad,19:50,23:25,1 stop via Mumbai,"₹ 5,316"
304,IndiGo,27/10/2021,Goa,Ahmedabad,18:30,23:25,1 stop via Mumbai,"₹ 5,316"
305,Go First,27/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,893"
306,Air India,27/10/2021,Goa,Ahmedabad,07:30,18:10,1 stop via Mumbai,"₹ 6,724"
307,Vistara,27/10/2021,Goa,Ahmedabad,14:30,19:40,1 stop via New Delhi,"₹ 10,629"

Lenght :  308

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-28/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
325,IndiGo,28/10/2021,Goa,Ahmedabad,13:10,17:40,1 stop via Mumbai,"₹ 5,316"
326,IndiGo,28/10/2021,Goa,Ahmedabad,16:30,21:10,1 stop via Mumbai,"₹ 5,316"
327,IndiGo,28/10/2021,Goa,Ahmedabad,14:40,21:15,1 stop via Hyderabad,"₹ 5,316"
328,IndiGo,28/10/2021,Goa,Ahmedabad,19:50,23:25,1 stop via Mumbai,"₹ 5,316"
329,Go First,28/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,893"

Lenght :  330

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-29/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
349,IndiGo,29/10/2021,Goa,Ahmedabad,15:25,17:05,Non stop,"₹ 5,526"
350,Spicejet,29/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,841"
351,Go First,29/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,893"
352,Air India,29/10/2021,Goa,Ahmedabad,12:30,18:10,1 stop via Mumbai,"₹ 6,724"
353,Vistara,29/10/2021,Goa,Ahmedabad,14:30,19:40,1 stop via New Delhi,"₹ 10,629"

Lenght :  354

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
373,Go First,30/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,893"
374,IndiGo,30/10/2021,Goa,Ahmedabad,15:25,17:05,Non stop,"₹ 6,156"
375,Air India,30/10/2021,Goa,Ahmedabad,07:30,18:10,1 stop via Mumbai,"₹ 6,724"
376,Spicejet,30/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 7,521"
377,Vistara,30/10/2021,Goa,Ahmedabad,14:30,19:40,1 stop via New Delhi,"₹ 11,834"

Lenght :  378

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-31/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
391,Air India,31/10/2021,Goa,Ahmedabad,14:10,21:30,1 stop via New Delhi,"₹ 11,841"
392,Go First,31/10/2021,Goa,Ahmedabad,18:15,00:05,1 stop via Mumbai,"₹ 13,579"
393,IndiGo,31/10/2021,Goa,Ahmedabad,13:10,18:35,1 stop via Mumbai,"₹ 13,979"
394,IndiGo,31/10/2021,Goa,Ahmedabad,16:30,21:25,1 stop via Mumbai,"₹ 13,979"
395,Vistara,31/10/2021,Goa,Ahmedabad,10:20,19:40,1 stop via New Delhi,"₹ 17,287"

Lenght :  396

-----Skiped-----

origin = GOI
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 9
Time Count in Scraping  = 18
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 9
pFlightStops Count in Scraping  = 9
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
400,"IndiGo, Air India",15/10/2021,Goa,Tirupati,18:05,09:10,"2 stop via Hyderabad,Mumbai","₹ 15,859"
401,"AirAsia, Air India",15/10/2021,Goa,Tirupati,15:30,09:10,"2 stop via Hyderabad,Mumbai","₹ 17,851"
402,Air India,15/10/2021,Goa,Tirupati,15:25,09:10,"2 stop via New Delhi,Mumbai","₹ 17,917"
403,Air India,15/10/2021,Goa,Tirupati,15:25,09:10,"2 stop via New Delhi,Mumbai","₹ 17,917"
404,"IndiGo, Air India",15/10/2021,Goa,Tirupati,16:00,09:10,"3 stop via Pune,Hyderabad,Mumbai","₹ 23,472"

Lenght :  405

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-16/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
412,"IndiGo, Spicejet",16/10/2021,Goa,Tirupati,11:15,18:20,1 stop via Hyderabad,"₹ 12,078"
413,"AirAsia, Spicejet",16/10/2021,Goa,Tirupati,13:35,18:20,1 stop via Hyderabad,"₹ 12,916"
414,"AirAsia, IndiGo",16/10/2021,Goa,Tirupati,07:35,19:30,"3 stop via Bengaluru,Visakhapatnam,Hyderabad","₹ 13,233"
415,Air India,16/10/2021,Goa,Tirupati,15:25,09:10,"2 stop via New Delhi,Mumbai","₹ 27,262"
416,Air India,16/10/2021,Goa,Tirupati,15:25,09:10,"2 stop via New Delhi,Mumbai","₹ 27,262"

Lenght :  417

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-17/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
428,IndiGo,17/10/2021,Goa,Tirupati,11:15,19:30,1 stop via Hyderabad,"₹ 15,185"
429,"AirAsia, IndiGo",17/10/2021,Goa,Tirupati,13:35,19:30,1 stop via Hyderabad,"₹ 15,858"
430,"AirAsia, Spicejet",17/10/2021,Goa,Tirupati,13:35,18:20,1 stop via Hyderabad,"₹ 16,069"
431,Air India,17/10/2021,Goa,Tirupati,21:00,13:35,"2 stop via Mumbai,Hyderabad","₹ 16,762"
432,"Vistara, Air India",17/10/2021,Goa,Tirupati,14:30,09:10,"3 stop via New Delhi,Hyderabad,Mumbai","₹ 30,560"

Lenght :  433

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-18/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 4
Time Count in Scraping  = 8
City Count in Scraping  = 8
spanFlightCost Count in Scraping  = 4
pFlightStops Count in Scraping  = 4
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
432,"Vistara, Air India",17/10/2021,Goa,Tirupati,14:30,09:10,"3 stop via New Delhi,Hyderabad,Mumbai","₹ 30,560"
433,IndiGo,18/10/2021,Goa,Tirupati,09:00,14:05,1 stop via Hyderabad,"₹ 15,029"
434,IndiGo,18/10/2021,Goa,Tirupati,14:40,19:30,1 stop via Hyderabad,"₹ 15,029"
435,IndiGo,18/10/2021,Goa,Tirupati,11:15,19:30,1 stop via Hyderabad,"₹ 15,029"
436,Air India,18/10/2021,Goa,Tirupati,21:00,13:35,"2 stop via Mumbai,Hyderabad","₹ 16,762"

Lenght :  437

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-19/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
447,Spicejet,19/10/2021,Goa,Tirupati,11:25,07:45,1 stop via Hyderabad,"₹ 12,456"
448,"AirAsia, Spicejet",19/10/2021,Goa,Tirupati,13:35,18:20,1 stop via Hyderabad,"₹ 13,125"
449,"AirAsia, IndiGo",19/10/2021,Goa,Tirupati,13:35,19:30,1 stop via Hyderabad,"₹ 13,126"
450,Air India,19/10/2021,Goa,Tirupati,21:00,09:10,1 stop via Mumbai,"₹ 14,557"
451,Air India,19/10/2021,Goa,Tirupati,21:00,13:35,"2 stop via Mumbai,Hyderabad","₹ 16,762"

Lenght :  452

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-20/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 7
Time Count in Scraping  = 14
City Count in Scraping  = 14
spanFlightCost Count in Scraping  = 7
pFlightStops Count in Scraping  = 7
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
454,Air India,20/10/2021,Goa,Tirupati,21:00,09:10,1 stop via Mumbai,"₹ 10,305"
455,IndiGo,20/10/2021,Goa,Tirupati,11:15,19:30,1 stop via Hyderabad,"₹ 10,461"
456,Air India,20/10/2021,Goa,Tirupati,21:00,13:35,"2 stop via Mumbai,Hyderabad","₹ 12,510"
457,Air India,20/10/2021,Goa,Tirupati,15:25,09:10,"2 stop via New Delhi,Mumbai","₹ 25,372"
458,Air India,20/10/2021,Goa,Tirupati,15:25,09:10,"2 stop via New Delhi,Mumbai","₹ 25,792"

Lenght :  459

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-21/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
472,Spicejet,21/10/2021,Goa,Tirupati,08:25,07:45,1 stop via Hyderabad,"₹ 8,256"
473,"IndiGo, Spicejet",21/10/2021,Goa,Tirupati,09:00,14:40,1 stop via Hyderabad,"₹ 8,298"
474,"IndiGo, Air India",21/10/2021,Goa,Tirupati,09:00,13:35,1 stop via Hyderabad,"₹ 8,299"
475,IndiGo,21/10/2021,Goa,Tirupati,11:15,19:30,1 stop via Hyderabad,"₹ 9,777"
476,Air India,21/10/2021,Goa,Tirupati,21:00,13:35,"2 stop via Mumbai,Hyderabad","₹ 13,035"

Lenght :  477

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-22/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
490,"IndiGo, Air India",22/10/2021,Goa,Tirupati,09:00,13:35,1 stop via Hyderabad,"₹ 10,189"
491,Air India,22/10/2021,Goa,Tirupati,21:00,13:35,"2 stop via Mumbai,Hyderabad","₹ 11,985"
492,"Vistara, Air India",22/10/2021,Goa,Tirupati,11:35,09:10,"3 stop via New Delhi,Hyderabad,Mumbai","₹ 21,550"
493,Air India,22/10/2021,Goa,Tirupati,15:25,09:10,"2 stop via New Delhi,Mumbai","₹ 28,837"
494,Air India,22/10/2021,Goa,Tirupati,15:25,09:10,"2 stop via New Delhi,Mumbai","₹ 29,257"

Lenght :  495

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-23/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
504,"IndiGo, Air India",23/10/2021,Goa,Tirupati,09:00,13:35,1 stop via Hyderabad,"₹ 8,089"
505,Air India,23/10/2021,Goa,Tirupati,21:00,09:10,1 stop via Mumbai,"₹ 8,362"
506,"AirAsia, Spicejet",23/10/2021,Goa,Tirupati,13:35,18:20,1 stop via Hyderabad,"₹ 8,612"
507,Air India,23/10/2021,Goa,Tirupati,15:25,09:10,"2 stop via New Delhi,Mumbai","₹ 30,832"
508,Air India,23/10/2021,Goa,Tirupati,15:25,09:10,"2 stop via New Delhi,Mumbai","₹ 30,832"

Lenght :  509

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-24/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

24/10/2021  scraping complete

origin = GOI
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
519,Air India,15/10/2021,Goa,Bengaluru,21:15,07:55,1 stop via Mumbai,"₹ 8,362"
520,"Go First, IndiGo",15/10/2021,Goa,Bengaluru,14:25,19:25,1 stop via Mumbai,"₹ 8,738"
521,"IndiGo, Go First",15/10/2021,Goa,Bengaluru,18:30,00:05,1 stop via Mumbai,"₹ 8,738"
522,"AirAsia, Go First",15/10/2021,Goa,Bengaluru,18:55,00:05,1 stop via Mumbai,"₹ 8,739"
523,"Air India, Vistara",15/10/2021,Goa,Bengaluru,15:20,20:55,1 stop via Mumbai,"₹ 8,846"

Lenght :  524

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-16/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

16/10/2021  scraping complete

origin = GOI
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
537,Go First,15/10/2021,Goa,Mumbai,15:40,21:05,1 stop via Ahmedabad,"₹ 9,068"
538,Vistara,15/10/2021,Goa,Mumbai,14:40,20:15,1 stop via Bengaluru,"₹ 9,622"
539,Air India,15/10/2021,Goa,Mumbai,15:25,21:15,1 stop via New Delhi,"₹ 13,192"
540,Vistara,15/10/2021,Goa,Mumbai,14:30,23:50,1 stop via New Delhi,"₹ 13,192"
541,Vistara,15/10/2021,Goa,Mumbai,20:30,08:00,1 stop via New Delhi,"₹ 13,192"

Lenght :  542

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-16/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 36
Time Count in Scraping  = 72
City Count in Scraping  = 72
spanFlightCost Count in Scraping  = 36
pFlightStops Count in Scraping  = 36
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
573,Vistara,16/10/2021,Goa,Mumbai,14:30,20:05,1 stop via New Delhi,"₹ 13,297"
574,Vistara,16/10/2021,Goa,Mumbai,20:30,08:00,1 stop via New Delhi,"₹ 13,297"
575,Go First,16/10/2021,Goa,Mumbai,17:25,23:35,1 stop via New Delhi,"₹ 13,742"
576,Vistara,16/10/2021,Goa,Mumbai,14:40,20:15,1 stop via Bengaluru,"₹ 16,867"
577,Air India,16/10/2021,Goa,Mumbai,15:25,21:15,1 stop via New Delhi,"₹ 22,222"

Lenght :  578

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-17/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 62
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
603,Go First,17/10/2021,Goa,Mumbai,20:25,09:55,1 stop via Ahmedabad,"₹ 13,898"
604,AirAsia,17/10/2021,Goa,Mumbai,13:35,22:10,"2 stop via Hyderabad,Bengaluru","₹ 14,242"
605,AirAsia,17/10/2021,Goa,Mumbai,07:35,14:35,1 stop via Bengaluru,"₹ 17,811"
606,Vistara,17/10/2021,Goa,Mumbai,14:30,22:00,1 stop via New Delhi,"₹ 18,232"
607,Vistara,17/10/2021,Goa,Mumbai,14:30,20:05,1 stop via New Delhi,"₹ 20,647"

Lenght :  608

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-18/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

18/10/2021  scraping complete

origin = GOI
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

15/10/2021  scraping complete

origin = GOI
destin = JAI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-JAI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
617,IndiGo,15/10/2021,Goa,Jaipur,15:20,21:25,1 stop via New Delhi,"₹ 7,133"
618,IndiGo,15/10/2021,Goa,Jaipur,18:05,22:35,1 stop via Hyderabad,"₹ 7,621"
619,"Go First, AirAsia",15/10/2021,Goa,Jaipur,16:15,22:25,1 stop via Mumbai,"₹ 8,739"
620,"IndiGo, AirAsia",15/10/2021,Goa,Jaipur,16:30,22:25,1 stop via Mumbai,"₹ 8,740"
621,"Air India, AirAsia",15/10/2021,Goa,Jaipur,15:20,22:25,1 stop via Mumbai,"₹ 8,741"

Lenght :  622

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-JAI-16/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
641,"Go First, AirAsia",16/10/2021,Goa,Jaipur,11:45,17:05,1 stop via Mumbai,"₹ 8,739"
642,"Vistara, IndiGo",16/10/2021,Goa,Jaipur,13:20,20:20,1 stop via Mumbai,"₹ 8,740"
643,"IndiGo, AirAsia",16/10/2021,Goa,Jaipur,12:00,17:05,1 stop via Mumbai,"₹ 8,845"
644,"IndiGo, AirAsia",16/10/2021,Goa,Jaipur,16:30,22:25,1 stop via Mumbai,"₹ 8,845"
645,Air India,16/10/2021,Goa,Jaipur,07:30,13:15,1 stop via Mumbai,"₹ 9,727"

Lenght :  646

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-JAI-17/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
666,IndiGo,17/10/2021,Goa,Jaipur,12:10,19:05,1 stop via New Delhi,"₹ 13,480"
667,"Air India, AirAsia",17/10/2021,Goa,Jaipur,15:20,22:25,1 stop via Mumbai,"₹ 13,886"
668,IndiGo,17/10/2021,Goa,Jaipur,18:30,23:15,1 stop via Mumbai,"₹ 14,451"
669,"IndiGo, AirAsia",17/10/2021,Goa,Jaipur,16:30,22:25,1 stop via Mumbai,"₹ 14,935"
670,"Spicejet, AirAsia",17/10/2021,Goa,Jaipur,11:25,17:05,1 stop via Mumbai,"₹ 15,039"

Lenght :  671

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-JAI-18/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
685,IndiGo,18/10/2021,Goa,Jaipur,18:05,23:00,1 stop via Hyderabad,"₹ 12,503"
686,Go First,18/10/2021,Goa,Jaipur,13:40,18:00,1 stop via Mumbai,"₹ 12,633"
687,"Spicejet, IndiGo",18/10/2021,Goa,Jaipur,07:45,16:55,1 stop via Ahmedabad,"₹ 13,842"
688,Go First,18/10/2021,Goa,Jaipur,15:40,19:15,1 stop via Ahmedabad,"₹ 21,922"
689,Air India,18/10/2021,Goa,Jaipur,07:30,13:15,1 stop via Mumbai,"₹ 23,692"

Lenght :  690

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-JAI-19/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
704,Air India,19/10/2021,Goa,Jaipur,07:30,13:15,1 stop via Mumbai,"₹ 13,822"
705,Go First,19/10/2021,Goa,Jaipur,13:40,18:00,1 stop via Mumbai,"₹ 14,419"
706,IndiGo,19/10/2021,Goa,Jaipur,18:30,23:15,1 stop via Mumbai,"₹ 14,451"
707,"Vistara, AirAsia",19/10/2021,Goa,Jaipur,09:15,17:15,1 stop via Mumbai,"₹ 14,936"
708,Go First,19/10/2021,Goa,Jaipur,15:40,19:15,1 stop via Ahmedabad,"₹ 15,290"

Lenght :  709

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-JAI-20/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
726,"IndiGo, AirAsia",20/10/2021,Goa,Jaipur,10:55,17:05,1 stop via Mumbai,"₹ 8,845"
727,"Go First, AirAsia",20/10/2021,Goa,Jaipur,11:45,17:05,1 stop via Mumbai,"₹ 9,211"
728,Go First,20/10/2021,Goa,Jaipur,15:40,19:15,1 stop via Ahmedabad,"₹ 9,504"
729,"Vistara, Go First",20/10/2021,Goa,Jaipur,12:15,18:00,1 stop via Mumbai,"₹ 10,157"
730,"Go First, Air India",20/10/2021,Goa,Jaipur,07:20,13:15,1 stop via Mumbai,"₹ 10,523"

Lenght :  731

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-JAI-21/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
749,Go First,21/10/2021,Goa,Jaipur,13:40,18:00,1 stop via Mumbai,"₹ 8,223"
750,"Spicejet, AirAsia",21/10/2021,Goa,Jaipur,11:50,17:05,1 stop via Mumbai,"₹ 8,739"
751,"Vistara, Go First",21/10/2021,Goa,Jaipur,12:15,18:00,1 stop via Mumbai,"₹ 8,739"
752,Go First,21/10/2021,Goa,Jaipur,15:40,19:15,1 stop via Ahmedabad,"₹ 9,504"
753,Air India,21/10/2021,Goa,Jaipur,07:30,13:15,1 stop via Mumbai,"₹ 9,727"

Lenght :  754

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-JAI-22/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
771,Go First,22/10/2021,Goa,Jaipur,13:40,18:00,1 stop via Mumbai,"₹ 8,223"
772,"Spicejet, AirAsia",22/10/2021,Goa,Jaipur,09:15,17:05,1 stop via Mumbai,"₹ 8,739"
773,"Air India, Go First",22/10/2021,Goa,Jaipur,12:30,18:00,1 stop via Mumbai,"₹ 8,739"
774,"Vistara, IndiGo",22/10/2021,Goa,Jaipur,13:20,20:20,1 stop via Mumbai,"₹ 8,740"
775,Go First,22/10/2021,Goa,Jaipur,15:40,19:15,1 stop via Ahmedabad,"₹ 9,504"

Lenght :  776

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-JAI-23/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
795,"Go First, AirAsia",23/10/2021,Goa,Jaipur,16:15,22:25,1 stop via Mumbai,"₹ 8,949"
796,Go First,23/10/2021,Goa,Jaipur,15:40,19:15,1 stop via Ahmedabad,"₹ 9,504"
797,"Vistara, IndiGo",23/10/2021,Goa,Jaipur,13:20,20:20,1 stop via Mumbai,"₹ 10,735"
798,Air India,23/10/2021,Goa,Jaipur,07:30,13:15,1 stop via Mumbai,"₹ 10,882"
799,"Spicejet, IndiGo",23/10/2021,Goa,Jaipur,11:50,17:15,1 stop via Mumbai,"₹ 11,783"

Lenght :  800

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-JAI-24/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
817,"Spicejet, AirAsia",24/10/2021,Goa,Jaipur,09:15,17:05,1 stop via Mumbai,"₹ 9,579"
818,Air India,24/10/2021,Goa,Jaipur,07:30,13:15,1 stop via Mumbai,"₹ 10,147"
819,IndiGo,24/10/2021,Goa,Jaipur,12:10,17:25,1 stop via Bengaluru,"₹ 11,039"
820,"Vistara, IndiGo",24/10/2021,Goa,Jaipur,13:20,20:20,1 stop via Mumbai,"₹ 14,935"
821,Go First,24/10/2021,Goa,Jaipur,15:40,19:15,1 stop via Ahmedabad,"₹ 17,583"

Lenght :  822

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-JAI-25/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
840,"Vistara, Go First",25/10/2021,Goa,Jaipur,12:15,18:00,1 stop via Mumbai,"₹ 9,264"
841,"Spicejet, AirAsia",25/10/2021,Goa,Jaipur,09:15,17:05,1 stop via Mumbai,"₹ 9,369"
842,Go First,25/10/2021,Goa,Jaipur,15:40,19:15,1 stop via Ahmedabad,"₹ 9,504"
843,Go First,25/10/2021,Goa,Jaipur,13:40,18:00,1 stop via Mumbai,"₹ 9,589"
844,"Air India, AirAsia",25/10/2021,Goa,Jaipur,15:20,22:25,1 stop via Mumbai,"₹ 10,316"

Lenght :  845

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-JAI-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
863,IndiGo,26/10/2021,Goa,Jaipur,12:10,17:25,1 stop via Bengaluru,"₹ 7,621"
864,"Spicejet, IndiGo",26/10/2021,Goa,Jaipur,11:50,17:15,1 stop via Mumbai,"₹ 8,738"
865,"Vistara, Go First",26/10/2021,Goa,Jaipur,12:15,18:00,1 stop via Mumbai,"₹ 8,739"
866,Air India,26/10/2021,Goa,Jaipur,07:30,13:15,1 stop via Mumbai,"₹ 9,307"
867,Go First,26/10/2021,Goa,Jaipur,15:40,19:15,1 stop via Ahmedabad,"₹ 9,504"

Lenght :  868

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-JAI-27/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
886,IndiGo,27/10/2021,Goa,Jaipur,15:20,21:25,1 stop via New Delhi,"₹ 7,133"
887,"Spicejet, AirAsia",27/10/2021,Goa,Jaipur,09:15,17:05,1 stop via Mumbai,"₹ 8,739"
888,"Vistara, Go First",27/10/2021,Goa,Jaipur,12:15,18:00,1 stop via Mumbai,"₹ 8,739"
889,Air India,27/10/2021,Goa,Jaipur,07:30,13:15,1 stop via Mumbai,"₹ 9,307"
890,Go First,27/10/2021,Goa,Jaipur,15:40,19:15,1 stop via Ahmedabad,"₹ 9,504"

Lenght :  891

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-JAI-28/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

28/10/2021  scraping complete

origin = GOI
destin = MAA

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-MAA-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
900,IndiGo,15/10/2021,Goa,Chennai,14:25,20:15,1 stop via Indore,"₹ 7,143"
901,IndiGo,15/10/2021,Goa,Chennai,18:05,23:40,1 stop via Hyderabad,"₹ 7,600"
902,Spicejet,15/10/2021,Goa,Chennai,15:45,21:25,1 stop via Bengaluru,"₹ 7,784"
903,"Vistara, IndiGo",15/10/2021,Goa,Chennai,14:40,19:35,1 stop via Bengaluru,"₹ 8,395"
904,Air India,15/10/2021,Goa,Chennai,21:15,07:15,1 stop via Mumbai,"₹ 9,202"

Lenght :  905

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-MAA-16/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 56
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
928,IndiGo,16/10/2021,Goa,Chennai,11:15,15:20,1 stop via Hyderabad,"₹ 9,427"
929,IndiGo,16/10/2021,Goa,Chennai,20:05,23:55,1 stop via Hyderabad,"₹ 9,884"
930,"AirAsia, IndiGo",16/10/2021,Goa,Chennai,07:35,11:45,1 stop via Bengaluru,"₹ 9,968"
931,"IndiGo, Air India",16/10/2021,Goa,Chennai,08:20,12:50,1 stop via Bengaluru,"₹ 10,810"
932,"Vistara, Spicejet",16/10/2021,Goa,Chennai,13:20,21:25,"2 stop via Mumbai,Bengaluru","₹ 11,895"

Lenght :  933

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-MAA-17/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
951,IndiGo,17/10/2021,Goa,Chennai,18:05,23:55,1 stop via Hyderabad,"₹ 16,551"
952,IndiGo,17/10/2021,Goa,Chennai,09:15,15:05,1 stop via Mumbai,"₹ 16,919"
953,IndiGo,17/10/2021,Goa,Chennai,18:30,22:55,1 stop via Mumbai,"₹ 19,754"
954,"AirAsia, IndiGo",17/10/2021,Goa,Chennai,15:30,20:25,1 stop via Hyderabad,"₹ 20,164"
955,Vistara,17/10/2021,Goa,Chennai,14:30,22:45,1 stop via New Delhi,"₹ 20,647"

Lenght :  956

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-MAA-18/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
976,Go First,18/10/2021,Goa,Chennai,13:40,23:15,1 stop via Mumbai,"₹ 13,473"
977,Vistara,18/10/2021,Goa,Chennai,12:15,20:25,1 stop via Mumbai,"₹ 13,875"
978,IndiGo,18/10/2021,Goa,Chennai,17:55,19:30,Non stop,"₹ 14,451"
979,IndiGo,18/10/2021,Goa,Chennai,14:25,20:15,1 stop via Indore,"₹ 14,451"
980,Air India,18/10/2021,Goa,Chennai,21:00,07:15,1 stop via Mumbai,"₹ 15,397"

Lenght :  981

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-MAA-19/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
999,Go First,19/10/2021,Goa,Chennai,17:05,23:15,1 stop via Mumbai,"₹ 15,259"
1000,Air India,19/10/2021,Goa,Chennai,21:00,07:15,1 stop via Mumbai,"₹ 15,397"
1001,Vistara,19/10/2021,Goa,Chennai,09:15,20:25,1 stop via Mumbai,"₹ 15,502"
1002,IndiGo,19/10/2021,Goa,Chennai,18:30,22:55,1 stop via Mumbai,"₹ 15,554"
1003,IndiGo,19/10/2021,Goa,Chennai,16:55,22:55,1 stop via Mumbai,"₹ 15,554"

Lenght :  1004

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-MAA-20/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1024,IndiGo,20/10/2021,Goa,Chennai,18:30,22:55,1 stop via Mumbai,"₹ 9,884"
1025,IndiGo,20/10/2021,Goa,Chennai,20:05,23:55,1 stop via Hyderabad,"₹ 9,884"
1026,Vistara,20/10/2021,Goa,Chennai,13:20,20:25,1 stop via Mumbai,"₹ 9,937"
1027,Spicejet,20/10/2021,Goa,Chennai,15:45,21:25,1 stop via Bengaluru,"₹ 10,462"
1028,Air India,20/10/2021,Goa,Chennai,21:00,07:15,1 stop via Mumbai,"₹ 11,145"

Lenght :  1029

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-MAA-21/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1048,IndiGo,21/10/2021,Goa,Chennai,09:15,15:05,1 stop via Mumbai,"₹ 6,686"
1049,IndiGo,21/10/2021,Goa,Chennai,17:55,19:30,Non stop,"₹ 6,891"
1050,Vistara,21/10/2021,Goa,Chennai,13:20,20:25,1 stop via Mumbai,"₹ 8,800"
1051,Air India,21/10/2021,Goa,Chennai,21:00,07:15,1 stop via Mumbai,"₹ 9,202"
1052,IndiGo,21/10/2021,Goa,Chennai,18:30,22:55,1 stop via Mumbai,"₹ 9,359"

Lenght :  1053

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-MAA-22/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1071,IndiGo,22/10/2021,Goa,Chennai,10:55,17:30,1 stop via Mumbai,"₹ 5,773"
1072,IndiGo,22/10/2021,Goa,Chennai,20:05,23:55,1 stop via Hyderabad,"₹ 5,773"
1073,IndiGo,22/10/2021,Goa,Chennai,13:10,19:25,1 stop via Mumbai,"₹ 6,230"
1074,Vistara,22/10/2021,Goa,Chennai,13:20,20:25,1 stop via Mumbai,"₹ 8,800"
1075,Air India,22/10/2021,Goa,Chennai,07:30,16:15,"3 stop via Mumbai,Mangalore,Coimbatore","₹ 11,407"

Lenght :  1076

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-MAA-23/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1091,IndiGo,23/10/2021,Goa,Chennai,17:55,19:30,Non stop,"₹ 5,631"
1092,IndiGo,23/10/2021,Goa,Chennai,20:05,23:55,1 stop via Hyderabad,"₹ 5,773"
1093,IndiGo,23/10/2021,Goa,Chennai,12:15,17:55,1 stop via Hyderabad,"₹ 6,686"
1094,IndiGo,23/10/2021,Goa,Chennai,15:25,22:50,1 stop via Ahmedabad,"₹ 6,686"
1095,IndiGo,23/10/2021,Goa,Chennai,13:10,19:25,1 stop via Mumbai,"₹ 7,143"

Lenght :  1096

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-MAA-24/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1109,IndiGo,24/10/2021,Goa,Chennai,09:15,15:05,1 stop via Mumbai,"₹ 10,094"
1110,IndiGo,24/10/2021,Goa,Chennai,16:25,23:00,1 stop via Bengaluru,"₹ 10,340"
1111,IndiGo,24/10/2021,Goa,Chennai,14:40,18:50,1 stop via Hyderabad,"₹ 11,254"
1112,Air India,24/10/2021,Goa,Chennai,07:30,16:15,"3 stop via Mumbai,Mangalore,Coimbatore","₹ 11,407"
1113,IndiGo,24/10/2021,Goa,Chennai,18:05,23:55,1 stop via Hyderabad,"₹ 11,711"

Lenght :  1114

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-MAA-25/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1131,IndiGo,25/10/2021,Goa,Chennai,09:00,15:20,1 stop via Hyderabad,"₹ 9,427"
1132,IndiGo,25/10/2021,Goa,Chennai,12:00,17:30,1 stop via Mumbai,"₹ 9,621"
1133,IndiGo,25/10/2021,Goa,Chennai,14:25,20:15,1 stop via Indore,"₹ 9,884"
1134,"Vistara, IndiGo",25/10/2021,Goa,Chennai,14:40,19:35,1 stop via Bengaluru,"₹ 10,233"
1135,IndiGo,25/10/2021,Goa,Chennai,14:40,18:50,1 stop via Hyderabad,"₹ 10,797"

Lenght :  1136

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-MAA-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1154,Spicejet,26/10/2021,Goa,Chennai,20:05,21:30,Non stop,"₹ 6,365"
1155,IndiGo,26/10/2021,Goa,Chennai,17:55,19:30,Non stop,"₹ 7,416"
1156,IndiGo,26/10/2021,Goa,Chennai,18:30,22:55,1 stop via Mumbai,"₹ 8,057"
1157,Vistara,26/10/2021,Goa,Chennai,13:20,20:25,1 stop via Mumbai,"₹ 8,665"
1158,Air India,26/10/2021,Goa,Chennai,21:00,07:15,1 stop via Mumbai,"₹ 9,570"

Lenght :  1159

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-MAA-27/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1177,IndiGo,27/10/2021,Goa,Chennai,14:40,18:50,1 stop via Hyderabad,"₹ 5,773"
1178,IndiGo,27/10/2021,Goa,Chennai,17:55,19:30,Non stop,"₹ 5,946"
1179,IndiGo,27/10/2021,Goa,Chennai,20:05,23:55,1 stop via Hyderabad,"₹ 6,230"
1180,Vistara,27/10/2021,Goa,Chennai,13:20,20:25,1 stop via Mumbai,"₹ 8,665"
1181,Air India,27/10/2021,Goa,Chennai,21:00,07:15,1 stop via Mumbai,"₹ 9,202"

Lenght :  1182

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-MAA-28/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1197,IndiGo,28/10/2021,Goa,Chennai,14:40,18:50,1 stop via Hyderabad,"₹ 5,316"
1198,IndiGo,28/10/2021,Goa,Chennai,13:10,19:25,1 stop via Mumbai,"₹ 5,316"
1199,IndiGo,28/10/2021,Goa,Chennai,13:00,19:35,1 stop via Bengaluru,"₹ 5,316"
1200,IndiGo,28/10/2021,Goa,Chennai,16:25,21:25,1 stop via Bengaluru,"₹ 5,316"
1201,IndiGo,28/10/2021,Goa,Chennai,20:05,23:55,1 stop via Hyderabad,"₹ 5,316"

Lenght :  1202

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-MAA-29/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1218,IndiGo,29/10/2021,Goa,Chennai,13:10,19:25,1 stop via Mumbai,"₹ 5,773"
1219,IndiGo,29/10/2021,Goa,Chennai,16:30,22:55,1 stop via Mumbai,"₹ 5,773"
1220,AirAsia,29/10/2021,Goa,Chennai,15:30,20:30,1 stop via Hyderabad,"₹ 7,143"
1221,Air India,29/10/2021,Goa,Chennai,21:00,07:15,1 stop via Mumbai,"₹ 10,462"
1222,Vistara,29/10/2021,Goa,Chennai,13:20,20:25,1 stop via Mumbai,"₹ 12,772"

Lenght :  1223

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-MAA-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1241,Air India,30/10/2021,Goa,Chennai,21:00,07:20,1 stop via Mumbai,"₹ 8,546"
1242,IndiGo,30/10/2021,Goa,Chennai,12:00,17:30,1 stop via Mumbai,"₹ 9,149"
1243,IndiGo,30/10/2021,Goa,Chennai,18:30,22:55,1 stop via Mumbai,"₹ 9,201"
1244,IndiGo,30/10/2021,Goa,Chennai,20:05,23:55,1 stop via Hyderabad,"₹ 9,569"
1245,Vistara,30/10/2021,Goa,Chennai,20:30,09:05,1 stop via Mumbai,"₹ 9,647"

Lenght :  1246

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-MAA-31/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1266,IndiGo,31/10/2021,Goa,Chennai,11:50,17:10,1 stop via Mumbai,"₹ 12,141"
1267,Air India,31/10/2021,Goa,Chennai,07:30,16:15,"3 stop via Mumbai,Mangalore,Coimbatore","₹ 13,697"
1268,IndiGo,31/10/2021,Goa,Chennai,14:30,18:35,1 stop via Hyderabad,"₹ 13,904"
1269,IndiGo,31/10/2021,Goa,Chennai,15:25,19:25,1 stop via Pune,"₹ 14,084"
1270,IndiGo,31/10/2021,Goa,Chennai,20:10,21:40,Non stop,"₹ 14,451"

Lenght :  1271

-----Skiped-----

origin = GOI
destin = LKU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-LKU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

15/10/2021  scraping complete

origin = GOI
destin = CCU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-CCU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1284,Go First,15/10/2021,Goa,Kolkata,15:40,21:55,"2 stop via Ahmedabad,Jaipur","₹ 7,958"
1285,IndiGo,15/10/2021,Goa,Kolkata,16:00,20:55,1 stop via Pune,"₹ 9,563"
1286,IndiGo,15/10/2021,Goa,Kolkata,18:05,22:40,1 stop via Hyderabad,"₹ 10,209"
1287,Air India,15/10/2021,Goa,Kolkata,15:25,22:20,1 stop via New Delhi,"₹ 14,032"
1288,IndiGo,15/10/2021,Goa,Kolkata,14:50,17:55,Non stop,"₹ 17,181"

Lenght :  1289

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-CCU-16/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1313,"Spicejet, AirAsia",16/10/2021,Goa,Kolkata,15:45,21:20,1 stop via Bengaluru,"₹ 10,810"
1314,Spicejet,16/10/2021,Goa,Kolkata,16:10,18:40,Non stop,"₹ 13,505"
1315,IndiGo,16/10/2021,Goa,Kolkata,14:50,17:55,Non stop,"₹ 13,611"
1316,Go First,16/10/2021,Goa,Kolkata,15:40,21:55,"2 stop via Ahmedabad,Jaipur","₹ 15,090"
1317,Air India,16/10/2021,Goa,Kolkata,07:30,16:00,"2 stop via Mumbai,Bhubaneswar","₹ 16,132"

Lenght :  1318

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-CCU-17/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 62
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1343,"AirAsia, IndiGo",17/10/2021,Goa,Kolkata,13:35,19:15,1 stop via Hyderabad,"₹ 18,484"
1344,IndiGo,17/10/2021,Goa,Kolkata,12:15,15:05,Non stop,"₹ 20,541"
1345,IndiGo,17/10/2021,Goa,Kolkata,14:50,17:55,Non stop,"₹ 20,541"
1346,Spicejet,17/10/2021,Goa,Kolkata,16:10,18:40,Non stop,"₹ 20,541"
1347,Vistara,17/10/2021,Goa,Kolkata,14:30,22:45,1 stop via New Delhi,"₹ 24,637"

Lenght :  1348

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-CCU-18/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1375,AirAsia,18/10/2021,Goa,Kolkata,15:30,19:25,1 stop via Hyderabad,"₹ 16,762"
1376,IndiGo,18/10/2021,Goa,Kolkata,17:55,23:20,1 stop via Chennai,"₹ 16,892"
1377,IndiGo,18/10/2021,Goa,Kolkata,18:05,22:40,1 stop via Hyderabad,"₹ 17,601"
1378,Air India,18/10/2021,Goa,Kolkata,15:20,23:15,1 stop via Mumbai,"₹ 19,072"
1379,Go First,18/10/2021,Goa,Kolkata,15:40,21:55,"2 stop via Ahmedabad,Jaipur","₹ 24,716"

Lenght :  1380

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-CCU-19/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 36
Time Count in Scraping  = 72
City Count in Scraping  = 74
spanFlightCost Count in Scraping  = 36
pFlightStops Count in Scraping  = 36
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1411,IndiGo,19/10/2021,Goa,Kolkata,14:50,17:55,Non stop,"₹ 16,236"
1412,AirAsia,19/10/2021,Goa,Kolkata,17:05,21:20,1 stop via Bengaluru,"₹ 16,762"
1413,Go First,19/10/2021,Goa,Kolkata,15:40,21:55,"2 stop via Ahmedabad,Jaipur","₹ 17,484"
1414,Vistara,19/10/2021,Goa,Kolkata,09:15,19:15,"2 stop via Mumbai,Bhubaneswar","₹ 18,757"
1415,Air India,19/10/2021,Goa,Kolkata,07:30,19:10,"2 stop via Mumbai,New Delhi","₹ 26,632"

Lenght :  1416

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-CCU-20/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1443,Vistara,20/10/2021,Goa,Kolkata,13:20,19:45,1 stop via Mumbai,"₹ 11,407"
1444,IndiGo,20/10/2021,Goa,Kolkata,16:25,22:05,1 stop via Bengaluru,"₹ 11,511"
1445,IndiGo,20/10/2021,Goa,Kolkata,17:55,23:20,1 stop via Chennai,"₹ 12,194"
1446,Air India,20/10/2021,Goa,Kolkata,15:20,23:15,1 stop via Mumbai,"₹ 14,347"
1447,IndiGo,20/10/2021,Goa,Kolkata,14:50,17:55,Non stop,"₹ 14,451"

Lenght :  1448

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-CCU-21/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 68
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1476,IndiGo,21/10/2021,Goa,Kolkata,16:30,00:20,1 stop via Mumbai,"₹ 8,272"
1477,IndiGo,21/10/2021,Goa,Kolkata,14:50,17:55,Non stop,"₹ 8,991"
1478,Go First,21/10/2021,Goa,Kolkata,15:40,21:55,"2 stop via Ahmedabad,Jaipur","₹ 10,651"
1479,Vistara,21/10/2021,Goa,Kolkata,11:35,19:35,1 stop via New Delhi,"₹ 12,682"
1480,Air India,21/10/2021,Goa,Kolkata,07:30,14:25,"2 stop via Mumbai,Bengaluru","₹ 13,087"

Lenght :  1481

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-CCU-22/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1505,IndiGo,22/10/2021,Goa,Kolkata,18:05,22:40,1 stop via Hyderabad,"₹ 7,626"
1506,IndiGo,22/10/2021,Goa,Kolkata,17:55,23:20,1 stop via Chennai,"₹ 7,626"
1507,Vistara,22/10/2021,Goa,Kolkata,13:20,19:45,1 stop via Mumbai,"₹ 9,915"
1508,Go First,22/10/2021,Goa,Kolkata,15:40,21:55,"2 stop via Ahmedabad,Jaipur","₹ 11,748"
1509,Air India,22/10/2021,Goa,Kolkata,15:20,23:15,1 stop via Mumbai,"₹ 13,717"

Lenght :  1510

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-CCU-23/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1531,IndiGo,23/10/2021,Goa,Kolkata,18:05,22:40,1 stop via Hyderabad,"₹ 10,855"
1532,Vistara,23/10/2021,Goa,Kolkata,11:35,19:35,1 stop via New Delhi,"₹ 13,396"
1533,IndiGo,23/10/2021,Goa,Kolkata,14:50,17:55,Non stop,"₹ 13,611"
1534,Go First,23/10/2021,Goa,Kolkata,15:40,21:55,"2 stop via Ahmedabad,Jaipur","₹ 15,090"
1535,Air India,23/10/2021,Goa,Kolkata,07:30,16:00,"2 stop via Mumbai,Bhubaneswar","₹ 16,027"

Lenght :  1536

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-CCU-24/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 68
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1564,IndiGo,24/10/2021,Goa,Kolkata,18:05,22:40,1 stop via Hyderabad,"₹ 11,501"
1565,IndiGo,24/10/2021,Goa,Kolkata,19:50,02:05,1 stop via Mumbai,"₹ 11,501"
1566,Vistara,24/10/2021,Goa,Kolkata,11:35,19:35,1 stop via New Delhi,"₹ 14,288"
1567,Air India,24/10/2021,Goa,Kolkata,07:30,16:00,"2 stop via Mumbai,Bhubaneswar","₹ 16,657"
1568,Go First,24/10/2021,Goa,Kolkata,15:40,21:55,"2 stop via Ahmedabad,Jaipur","₹ 20,177"

Lenght :  1569

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-CCU-25/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 64
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1595,AirAsia,25/10/2021,Goa,Kolkata,15:30,19:25,1 stop via Hyderabad,"₹ 9,522"
1596,IndiGo,25/10/2021,Goa,Kolkata,08:20,13:55,1 stop via Bengaluru,"₹ 9,563"
1597,Go First,25/10/2021,Goa,Kolkata,15:40,21:55,"2 stop via Ahmedabad,Jaipur","₹ 10,651"
1598,Vistara,25/10/2021,Goa,Kolkata,13:20,19:45,1 stop via Mumbai,"₹ 11,407"
1599,Air India,25/10/2021,Goa,Kolkata,07:30,14:25,"2 stop via Mumbai,Bengaluru","₹ 14,032"

Lenght :  1600

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-CCU-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 62
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1625,IndiGo,26/10/2021,Goa,Kolkata,19:50,02:05,1 stop via Mumbai,"₹ 7,626"
1626,IndiGo,26/10/2021,Goa,Kolkata,21:50,04:50,1 stop via New Delhi,"₹ 7,626"
1627,Go First,26/10/2021,Goa,Kolkata,15:40,21:55,"2 stop via Ahmedabad,Jaipur","₹ 10,651"
1628,Vistara,26/10/2021,Goa,Kolkata,11:35,19:35,1 stop via New Delhi,"₹ 11,343"
1629,Air India,26/10/2021,Goa,Kolkata,15:25,22:20,1 stop via New Delhi,"₹ 13,612"

Lenght :  1630

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-CCU-27/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 62
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1655,IndiGo,27/10/2021,Goa,Kolkata,16:30,22:20,1 stop via Mumbai,"₹ 7,626"
1656,IndiGo,27/10/2021,Goa,Kolkata,18:05,22:40,1 stop via Hyderabad,"₹ 7,626"
1657,Vistara,27/10/2021,Goa,Kolkata,13:20,19:45,1 stop via Mumbai,"₹ 9,915"
1658,Go First,27/10/2021,Goa,Kolkata,15:40,21:55,"2 stop via Ahmedabad,Jaipur","₹ 10,651"
1659,Air India,27/10/2021,Goa,Kolkata,15:20,23:15,1 stop via Mumbai,"₹ 12,877"

Lenght :  1660

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-CCU-28/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 64
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1686,IndiGo,28/10/2021,Goa,Kolkata,19:50,02:05,1 stop via Mumbai,"₹ 7,626"
1687,IndiGo,28/10/2021,Goa,Kolkata,21:50,04:50,1 stop via New Delhi,"₹ 7,626"
1688,Go First,28/10/2021,Goa,Kolkata,15:40,21:55,"2 stop via Ahmedabad,Jaipur","₹ 10,651"
1689,Vistara,28/10/2021,Goa,Kolkata,11:35,19:35,1 stop via New Delhi,"₹ 12,682"
1690,Air India,28/10/2021,Goa,Kolkata,15:25,22:20,1 stop via New Delhi,"₹ 14,032"

Lenght :  1691

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-CCU-29/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1718,IndiGo,29/10/2021,Goa,Kolkata,16:30,22:20,1 stop via Mumbai,"₹ 9,563"
1719,Vistara,29/10/2021,Goa,Kolkata,13:20,19:45,1 stop via Mumbai,"₹ 10,450"
1720,Go First,29/10/2021,Goa,Kolkata,15:40,21:55,"2 stop via Ahmedabad,Jaipur","₹ 10,651"
1721,IndiGo,29/10/2021,Goa,Kolkata,18:05,22:40,1 stop via Hyderabad,"₹ 10,724"
1722,Air India,29/10/2021,Goa,Kolkata,15:25,22:20,1 stop via New Delhi,"₹ 15,397"

Lenght :  1723

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-CCU-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1747,Vistara,30/10/2021,Goa,Kolkata,14:30,22:45,1 stop via New Delhi,"₹ 12,682"
1748,IndiGo,30/10/2021,Goa,Kolkata,18:05,22:40,1 stop via Hyderabad,"₹ 12,824"
1749,Go First,30/10/2021,Goa,Kolkata,15:40,21:55,"2 stop via Ahmedabad,Jaipur","₹ 12,845"
1750,IndiGo,30/10/2021,Goa,Kolkata,08:20,13:55,1 stop via Bengaluru,"₹ 12,871"
1751,Air India,30/10/2021,Goa,Kolkata,07:30,16:00,"2 stop via Mumbai,Bhubaneswar","₹ 18,418"

Lenght :  1752

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-CCU-31/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1776,Go First,31/10/2021,Goa,Kolkata,18:15,23:50,1 stop via Mumbai,"₹ 16,729"
1777,Go First,31/10/2021,Goa,Kolkata,17:00,23:50,1 stop via Mumbai,"₹ 16,729"
1778,IndiGo,31/10/2021,Goa,Kolkata,08:05,14:25,1 stop via Bengaluru,"₹ 17,774"
1779,Air India,31/10/2021,Goa,Kolkata,14:10,22:20,1 stop via New Delhi,"₹ 18,127"
1780,Vistara,31/10/2021,Goa,Kolkata,08:40,16:55,1 stop via Mumbai,"₹ 18,652"

Lenght :  1781

-----Skiped-----

origin = GOI
destin = PNQ

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-PNQ-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 1
Time Count in Scraping  = 2
City Count in Scraping  = 2
spanFlightCost Count in Scraping  = 1
pFlightStops Count in Scraping  = 1
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1777,Go First,31/10/2021,Goa,Kolkata,17:00,23:50,1 stop via Mumbai,"₹ 16,729"
1778,IndiGo,31/10/2021,Goa,Kolkata,08:05,14:25,1 stop via Bengaluru,"₹ 17,774"
1779,Air India,31/10/2021,Goa,Kolkata,14:10,22:20,1 stop via New Delhi,"₹ 18,127"
1780,Vistara,31/10/2021,Goa,Kolkata,08:40,16:55,1 stop via Mumbai,"₹ 18,652"
1781,IndiGo,15/10/2021,Goa,Pune,16:00,17:10,Non stop,"₹ 5,946"

Lenght :  1782

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-PNQ-16/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

16/10/2021  scraping complete

--------------
origin = AMD
destin = GOI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1792,"IndiGo, Go First",15/10/2021,Ahmedabad,Goa,15:10,13:10,"2 stop via Mumbai,New Delhi","₹ 17,068"
1793,Air India,15/10/2021,Ahmedabad,Goa,22:20,14:45,"2 stop via New Delhi,Mumbai","₹ 18,712"
1794,"IndiGo, Go First",15/10/2021,Ahmedabad,Goa,18:15,10:40,"2 stop via Mumbai,New Delhi","₹ 20,900"
1795,"IndiGo, Go First",15/10/2021,Ahmedabad,Goa,15:10,10:40,"2 stop via Mumbai,New Delhi","₹ 20,900"
1796,"IndiGo, Go First",15/10/2021,Ahmedabad,Goa,15:10,10:40,"2 stop via Mumbai,New Delhi","₹ 20,900"

Lenght :  1797

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-16/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1814,IndiGo,16/10/2021,Ahmedabad,Goa,15:10,19:20,1 stop via Mumbai,"₹ 9,172"
1815,IndiGo,16/10/2021,Ahmedabad,Goa,06:50,08:40,Non stop,"₹ 10,731"
1816,IndiGo,16/10/2021,Ahmedabad,Goa,13:05,14:55,Non stop,"₹ 10,731"
1817,"IndiGo, Air India",16/10/2021,Ahmedabad,Goa,09:30,14:45,1 stop via Mumbai,"₹ 12,684"
1818,Vistara,16/10/2021,Ahmedabad,Goa,08:40,13:50,1 stop via New Delhi,"₹ 15,615"

Lenght :  1819

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-17/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1839,"IndiGo, Vistara",17/10/2021,Ahmedabad,Goa,09:30,14:40,1 stop via Mumbai,"₹ 10,689"
1840,Vistara,17/10/2021,Ahmedabad,Goa,20:20,10:55,1 stop via New Delhi,"₹ 10,999"
1841,Go First,17/10/2021,Ahmedabad,Goa,09:00,15:10,1 stop via Bengaluru,"₹ 13,095"
1842,Vistara,17/10/2021,Ahmedabad,Goa,08:40,19:50,1 stop via New Delhi,"₹ 15,300"
1843,Vistara,17/10/2021,Ahmedabad,Goa,08:40,13:50,1 stop via New Delhi,"₹ 16,140"

Lenght :  1844

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-18/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1860,Go First,18/10/2021,Ahmedabad,Goa,10:00,11:40,Non stop,"₹ 5,638"
1861,IndiGo,18/10/2021,Ahmedabad,Goa,07:05,11:30,1 stop via Mumbai,"₹ 5,975"
1862,IndiGo,18/10/2021,Ahmedabad,Goa,13:10,19:35,1 stop via Hyderabad,"₹ 6,431"
1863,Air India,18/10/2021,Ahmedabad,Goa,18:50,06:50,1 stop via Mumbai,"₹ 6,469"
1864,Vistara,18/10/2021,Ahmedabad,Goa,08:40,13:50,1 stop via New Delhi,"₹ 10,999"

Lenght :  1865

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-19/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1881,IndiGo,19/10/2021,Ahmedabad,Goa,13:05,14:55,Non stop,"₹ 5,586"
1882,Go First,19/10/2021,Ahmedabad,Goa,10:00,11:40,Non stop,"₹ 5,638"
1883,Spicejet,19/10/2021,Ahmedabad,Goa,12:05,14:25,Non stop,"₹ 6,426"
1884,Air India,19/10/2021,Ahmedabad,Goa,18:50,06:50,1 stop via Mumbai,"₹ 6,469"
1885,Vistara,19/10/2021,Ahmedabad,Goa,08:40,13:50,1 stop via New Delhi,"₹ 10,552"

Lenght :  1886

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-20/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1901,IndiGo,20/10/2021,Ahmedabad,Goa,07:05,11:30,1 stop via Mumbai,"₹ 5,975"
1902,IndiGo,20/10/2021,Ahmedabad,Goa,13:10,17:35,1 stop via Hyderabad,"₹ 5,975"
1903,Air India,20/10/2021,Ahmedabad,Goa,18:50,06:50,1 stop via Mumbai,"₹ 6,469"
1904,Go First,20/10/2021,Ahmedabad,Goa,10:00,11:40,Non stop,"₹ 6,794"
1905,Vistara,20/10/2021,Ahmedabad,Goa,08:40,13:50,1 stop via New Delhi,"₹ 11,579"

Lenght :  1906

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-21/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1924,IndiGo,21/10/2021,Ahmedabad,Goa,06:50,08:40,Non stop,"₹ 7,581"
1925,Spicejet,21/10/2021,Ahmedabad,Goa,12:05,14:25,Non stop,"₹ 8,316"
1926,IndiGo,21/10/2021,Ahmedabad,Goa,13:05,14:55,Non stop,"₹ 8,841"
1927,Go First,21/10/2021,Ahmedabad,Goa,10:00,11:40,Non stop,"₹ 9,050"
1928,Vistara,21/10/2021,Ahmedabad,Goa,08:40,13:50,1 stop via New Delhi,"₹ 11,579"

Lenght :  1929

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-22/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1947,Spicejet,22/10/2021,Ahmedabad,Goa,12:05,14:25,Non stop,"₹ 7,790"
1948,IndiGo,22/10/2021,Ahmedabad,Goa,15:00,20:50,1 stop via Bengaluru,"₹ 8,258"
1949,IndiGo,22/10/2021,Ahmedabad,Goa,11:55,15:30,1 stop via Mumbai,"₹ 8,715"
1950,IndiGo,22/10/2021,Ahmedabad,Goa,06:50,08:40,Non stop,"₹ 9,261"
1951,Vistara,22/10/2021,Ahmedabad,Goa,08:40,13:50,1 stop via New Delhi,"₹ 11,579"

Lenght :  1952

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-23/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1969,IndiGo,23/10/2021,Ahmedabad,Goa,06:50,08:40,Non stop,"₹ 5,901"
1970,Air India,23/10/2021,Ahmedabad,Goa,18:50,06:50,1 stop via Mumbai,"₹ 6,469"
1971,Go First,23/10/2021,Ahmedabad,Goa,10:00,11:40,Non stop,"₹ 6,834"
1972,IndiGo,23/10/2021,Ahmedabad,Goa,13:10,17:35,1 stop via Hyderabad,"₹ 7,345"
1973,Vistara,23/10/2021,Ahmedabad,Goa,08:40,13:50,1 stop via New Delhi,"₹ 11,579"

Lenght :  1974

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-24/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1982,Go First,24/10/2021,Ahmedabad,Goa,22:15,06:50,1 stop via Mumbai,"₹ 5,060"
1983,Go First,24/10/2021,Ahmedabad,Goa,19:55,06:50,1 stop via Mumbai,"₹ 5,060"
1984,Go First,24/10/2021,Ahmedabad,Goa,17:45,06:50,1 stop via Mumbai,"₹ 5,060"
1985,IndiGo,24/10/2021,Ahmedabad,Goa,06:50,08:40,Non stop,"₹ 5,061"
1986,IndiGo,24/10/2021,Ahmedabad,Goa,09:45,11:45,Non stop,"₹ 5,061"

Lenght :  1987

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-25/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2004,IndiGo,25/10/2021,Ahmedabad,Goa,15:10,19:20,1 stop via Mumbai,"₹ 5,061"
2005,Spicejet,25/10/2021,Ahmedabad,Goa,12:05,14:25,Non stop,"₹ 5,376"
2006,Go First,25/10/2021,Ahmedabad,Goa,10:00,11:40,Non stop,"₹ 5,638"
2007,Air India,25/10/2021,Ahmedabad,Goa,18:50,06:50,1 stop via Mumbai,"₹ 6,469"
2008,Vistara,25/10/2021,Ahmedabad,Goa,08:40,13:50,1 stop via New Delhi,"₹ 11,579"

Lenght :  2009

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2026,IndiGo,26/10/2021,Ahmedabad,Goa,13:05,14:55,Non stop,"₹ 5,586"
2027,Go First,26/10/2021,Ahmedabad,Goa,10:00,11:40,Non stop,"₹ 5,638"
2028,Spicejet,26/10/2021,Ahmedabad,Goa,12:05,14:25,Non stop,"₹ 6,110"
2029,Air India,26/10/2021,Ahmedabad,Goa,18:50,06:50,1 stop via Mumbai,"₹ 6,469"
2030,Vistara,26/10/2021,Ahmedabad,Goa,08:40,13:50,1 stop via New Delhi,"₹ 10,552"

Lenght :  2031

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-27/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2047,IndiGo,27/10/2021,Ahmedabad,Goa,13:05,14:55,Non stop,"₹ 5,166"
2048,Spicejet,27/10/2021,Ahmedabad,Goa,12:05,14:25,Non stop,"₹ 5,586"
2049,Go First,27/10/2021,Ahmedabad,Goa,10:00,11:40,Non stop,"₹ 5,638"
2050,Air India,27/10/2021,Ahmedabad,Goa,18:50,06:50,1 stop via Mumbai,"₹ 6,469"
2051,Vistara,27/10/2021,Ahmedabad,Goa,08:40,13:50,1 stop via New Delhi,"₹ 10,374"

Lenght :  2052

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-28/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2069,IndiGo,28/10/2021,Ahmedabad,Goa,15:10,19:20,1 stop via Mumbai,"₹ 8,159"
2070,Go First,28/10/2021,Ahmedabad,Goa,08:45,13:55,1 stop via Mumbai,"₹ 8,284"
2071,IndiGo,28/10/2021,Ahmedabad,Goa,07:05,12:40,1 stop via Mumbai,"₹ 9,786"
2072,IndiGo,28/10/2021,Ahmedabad,Goa,13:10,17:35,1 stop via Hyderabad,"₹ 11,046"
2073,Vistara,28/10/2021,Ahmedabad,Goa,08:40,13:50,1 stop via New Delhi,"₹ 13,186"

Lenght :  2074

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-29/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2088,IndiGo,29/10/2021,Ahmedabad,Goa,07:05,15:30,1 stop via Mumbai,"₹ 8,631"
2089,Go First,29/10/2021,Ahmedabad,Goa,08:45,13:55,1 stop via Mumbai,"₹ 10,594"
2090,IndiGo,29/10/2021,Ahmedabad,Goa,07:05,12:40,1 stop via Mumbai,"₹ 11,571"
2091,IndiGo,29/10/2021,Ahmedabad,Goa,13:10,17:35,1 stop via Hyderabad,"₹ 12,884"
2092,Vistara,29/10/2021,Ahmedabad,Goa,08:40,13:50,1 stop via New Delhi,"₹ 17,190"

Lenght :  2093

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2108,Go First,30/10/2021,Ahmedabad,Goa,08:45,13:55,1 stop via Mumbai,"₹ 9,020"
2109,IndiGo,30/10/2021,Ahmedabad,Goa,11:55,15:30,1 stop via Mumbai,"₹ 9,104"
2110,IndiGo,30/10/2021,Ahmedabad,Goa,09:30,15:30,1 stop via Mumbai,"₹ 9,261"
2111,IndiGo,30/10/2021,Ahmedabad,Goa,07:05,11:30,1 stop via Mumbai,"₹ 9,524"
2112,Vistara,30/10/2021,Ahmedabad,Goa,08:40,13:50,1 stop via New Delhi,"₹ 16,665"

Lenght :  2113

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-31/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_NAME_NOT_RESOLVED
  (Session info: chrome=94.0.4606.61)

31/10/2021  scraping complete

-----Skiped-----

origin = AMD
destin = AMD

origin = AMD
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

15/10/2021  scraping complete

origin = AMD
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = AMD
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = AMD
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = AMD
destin = JAI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-JAI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = AMD
destin = MAA

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-MAA-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = AMD
destin = LKU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-LKU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = AMD
destin = CCU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-CCU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = AMD
destin = PNQ

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-PNQ-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

--------------
origin = TIR
destin = GOI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = TIR
destin = AMD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = TIR
destin = TIR

origin = TIR
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = TIR
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = TIR
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = TIR
destin = JAI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-JAI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = TIR
destin = MAA

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-MAA-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = TIR
destin = LKU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-LKU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = TIR
destin = CCU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-CCU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = TIR
destin = PNQ

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-PNQ-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

--------------
origin = BLR
destin = GOI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BLR
destin = AMD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BLR
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BLR
destin = BLR

origin = BLR
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BLR
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BLR
destin = JAI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-JAI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BLR
destin = MAA

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-MAA-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BLR
destin = LKU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-LKU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BLR
destin = CCU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-CCU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BLR
destin = PNQ

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-PNQ-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

--------------
origin = BOM
destin = GOI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BOM
destin = AMD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BOM
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BOM
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BOM
destin = BOM

origin = BOM
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BOM
destin = JAI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-JAI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BOM
destin = MAA

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-MAA-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BOM
destin = LKU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-LKU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BOM
destin = CCU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-CCU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = BOM
destin = PNQ

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-PNQ-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

--------------
origin = DEL
destin = GOI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = DEL
destin = AMD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = DEL
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = DEL
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = DEL
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = DEL
destin = DEL

origin = DEL
destin = JAI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-JAI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = DEL
destin = MAA

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-MAA-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = DEL
destin = LKU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-LKU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = DEL
destin = CCU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-CCU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = DEL
destin = PNQ

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-PNQ-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

--------------
origin = JAI
destin = GOI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=JAI-GOI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2119,AirAsia,15/10/2021,Jaipur,Goa,17:15,12:25,"3 stop via Pune,Bengaluru,Hyderabad","₹ 7,730"
2120,AirAsia,15/10/2021,Jaipur,Goa,23:05,07:25,1 stop via Mumbai,"₹ 8,219"
2121,AirAsia,15/10/2021,Jaipur,Goa,21:10,07:00,"2 stop via Hyderabad,Bengaluru","₹ 9,413"
2122,AirAsia,15/10/2021,Jaipur,Goa,17:15,07:00,"2 stop via Pune,Bengaluru","₹ 9,413"
2123,IndiGo,15/10/2021,Jaipur,Goa,21:15,08:40,1 stop via Ahmedabad,"₹ 16,031"

Lenght :  2124

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=JAI-GOI-16/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2136,AirAsia,16/10/2021,Jaipur,Goa,09:40,16:35,"2 stop via Mumbai,Bengaluru","₹ 7,243"
2137,IndiGo,16/10/2021,Jaipur,Goa,12:10,18:00,1 stop via Mumbai,"₹ 7,731"
2138,"IndiGo, Spicejet",16/10/2021,Jaipur,Goa,13:00,19:10,1 stop via Ahmedabad,"₹ 9,962"
2139,Go First,16/10/2021,Jaipur,Goa,08:20,11:40,1 stop via Ahmedabad,"₹ 12,280"
2140,"Air India, IndiGo",16/10/2021,Jaipur,Goa,14:00,19:20,1 stop via Mumbai,"₹ 12,734"

Lenght :  2141

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=JAI-GOI-17/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2151,IndiGo,17/10/2021,Jaipur,Goa,07:40,12:50,1 stop via New Delhi,"₹ 7,731"
2152,Go First,17/10/2021,Jaipur,Goa,09:25,11:40,Non stop,"₹ 7,789"
2153,"Spicejet, IndiGo",17/10/2021,Jaipur,Goa,07:50,15:30,"2 stop via Surat,Mumbai","₹ 9,688"
2154,IndiGo,17/10/2021,Jaipur,Goa,10:50,15:50,1 stop via Bengaluru,"₹ 10,660"
2155,Air India,17/10/2021,Jaipur,Goa,14:00,20:45,1 stop via Mumbai,"₹ 18,446"

Lenght :  2156

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=JAI-GOI-18/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2168,IndiGo,18/10/2021,Jaipur,Goa,07:40,12:50,1 stop via New Delhi,"₹ 7,243"
2169,IndiGo,18/10/2021,Jaipur,Goa,10:50,15:50,1 stop via Bengaluru,"₹ 7,243"
2170,"Spicejet, Go First",18/10/2021,Jaipur,Goa,06:25,11:40,1 stop via Ahmedabad,"₹ 10,223"
2171,Go First,18/10/2021,Jaipur,Goa,08:20,11:40,1 stop via Ahmedabad,"₹ 10,435"
2172,Air India,18/10/2021,Jaipur,Goa,14:00,20:30,1 stop via Mumbai,"₹ 11,464"

Lenght :  2173

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=JAI-GOI-19/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2183,IndiGo,19/10/2021,Jaipur,Goa,10:50,15:50,1 stop via Bengaluru,"₹ 7,243"
2184,IndiGo,19/10/2021,Jaipur,Goa,10:05,17:25,1 stop via Chennai,"₹ 7,243"
2185,"Spicejet, Go First",19/10/2021,Jaipur,Goa,06:25,11:40,1 stop via Ahmedabad,"₹ 10,223"
2186,Go First,19/10/2021,Jaipur,Goa,08:20,11:40,1 stop via Ahmedabad,"₹ 10,435"
2187,Air India,19/10/2021,Jaipur,Goa,14:00,20:30,1 stop via Mumbai,"₹ 13,406"

Lenght :  2188

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=JAI-GOI-20/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2200,IndiGo,20/10/2021,Jaipur,Goa,06:30,11:40,1 stop via Bengaluru,"₹ 7,243"
2201,IndiGo,20/10/2021,Jaipur,Goa,10:50,15:50,1 stop via Bengaluru,"₹ 7,243"
2202,"Spicejet, IndiGo",20/10/2021,Jaipur,Goa,08:00,15:30,"2 stop via Surat,Mumbai","₹ 9,793"
2203,Air India,20/10/2021,Jaipur,Goa,14:00,20:30,1 stop via Mumbai,"₹ 10,256"
2204,Go First,20/10/2021,Jaipur,Goa,08:20,11:40,1 stop via Ahmedabad,"₹ 12,280"

Lenght :  2205

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=JAI-GOI-21/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2217,IndiGo,21/10/2021,Jaipur,Goa,13:00,21:10,1 stop via Ahmedabad,"₹ 6,266"
2218,IndiGo,21/10/2021,Jaipur,Goa,06:15,10:45,1 stop via Hyderabad,"₹ 6,754"
2219,IndiGo,21/10/2021,Jaipur,Goa,13:55,21:20,1 stop via New Delhi,"₹ 6,754"
2220,IndiGo,21/10/2021,Jaipur,Goa,06:30,11:40,1 stop via Bengaluru,"₹ 7,243"
2221,IndiGo,21/10/2021,Jaipur,Goa,10:50,15:50,1 stop via Bengaluru,"₹ 7,243"

Lenght :  2222

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=JAI-GOI-22/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

22/10/2021  scraping complete

origin = JAI
destin = AMD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=JAI-AMD-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = JAI
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=JAI-TIR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = JAI
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=JAI-BLR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = JAI
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=JAI-BOM-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = JAI
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=JAI-DEL-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = JAI
destin = JAI

origin = JAI
destin = MAA

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=JAI-MAA-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = JAI
destin = LKU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=JAI-LKU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = JAI
destin = CCU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=JAI-CCU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: cannot determine loading status
from disconnected: received Inspector.detached event
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = JAI
destin = PNQ

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=JAI-PNQ-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: cannot determine loading status
from disconnected: received Inspector.detached event
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

--------------
origin = MAA
destin = GOI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=MAA-GOI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = MAA
destin = AMD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=MAA-AMD-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = MAA
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=MAA-TIR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = MAA
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=MAA-BLR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = MAA
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=MAA-BOM-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = MAA
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=MAA-DEL-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = MAA
destin = JAI

EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 6 "driver = selenium.webdriver.Chrome('chromedriver.exe')"): Message: unknown error: Chrome failed to start: exited normally.
  (chrome not reachable)
  (The process started from chrome location C:\Program Files (x86)\Google\Chrome\Application\chrome.exe is no longer running, so ChromeDriver is assuming that Chrome has crashed.)

15/10/2021  scraping complete

origin = MAA
destin = MAA

origin = MAA
destin = LKU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=MAA-LKU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = MAA
destin = CCU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=MAA-CCU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = MAA
destin = PNQ

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=MAA-PNQ-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

--------------
origin = LKU
destin = GOI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=LKU-GOI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = LKU
destin = AMD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=LKU-AMD-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = LKU
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=LKU-TIR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = LKU
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=LKU-BLR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = LKU
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=LKU-BOM-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = LKU
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=LKU-DEL-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = LKU
destin = JAI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=LKU-JAI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = LKU
destin = MAA

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=LKU-MAA-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = LKU
destin = LKU

origin = LKU
destin = CCU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=LKU-CCU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = LKU
destin = PNQ

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=LKU-PNQ-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

15/10/2021  scraping complete

--------------
origin = CCU
destin = GOI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=CCU-GOI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2231,IndiGo,15/10/2021,Kolkata,Goa,20:50,08:40,1 stop via Ahmedabad,"₹ 11,183"
2232,IndiGo,15/10/2021,Kolkata,Goa,22:30,08:55,1 stop via New Delhi,"₹ 11,183"
2233,IndiGo,15/10/2021,Kolkata,Goa,20:20,08:55,1 stop via New Delhi,"₹ 11,183"
2234,Vistara,15/10/2021,Kolkata,Goa,20:20,10:55,1 stop via New Delhi,"₹ 16,149"
2235,Air India,15/10/2021,Kolkata,Goa,19:00,06:50,"2 stop via Hyderabad,Mumbai","₹ 18,879"

Lenght :  2236

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=CCU-GOI-16/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 62
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2262,"Spicejet, Go First",16/10/2021,Kolkata,Goa,08:50,15:10,1 stop via Bengaluru,"₹ 12,927"
2263,Spicejet,16/10/2021,Kolkata,Goa,09:00,11:20,Non stop,"₹ 12,998"
2264,Go First,16/10/2021,Kolkata,Goa,05:30,11:40,"2 stop via Jaipur,Ahmedabad","₹ 13,345"
2265,Vistara,16/10/2021,Kolkata,Goa,07:10,13:50,1 stop via New Delhi,"₹ 16,569"
2266,Air India,16/10/2021,Kolkata,Goa,20:40,10:05,"2 stop via New Delhi,Surat","₹ 18,082"

Lenght :  2267

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=CCU-GOI-17/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2291,"IndiGo, Go First",17/10/2021,Kolkata,Goa,08:35,15:10,1 stop via Bengaluru,"₹ 13,871"
2292,"Spicejet, Go First",17/10/2021,Kolkata,Goa,08:50,15:10,1 stop via Bengaluru,"₹ 13,975"
2293,Go First,17/10/2021,Kolkata,Goa,05:30,11:40,1 stop via Jaipur,"₹ 15,640"
2294,Vistara,17/10/2021,Kolkata,Goa,07:10,13:50,1 stop via New Delhi,"₹ 17,934"
2295,"Air India, IndiGo",17/10/2021,Kolkata,Goa,09:10,17:35,"2 stop via Bhubaneswar,Hyderabad","₹ 20,707"

Lenght :  2296

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=CCU-GOI-18/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

18/10/2021  scraping complete

origin = CCU
destin = AMD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=CCU-AMD-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = CCU
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=CCU-TIR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = CCU
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=CCU-BLR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = CCU
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=CCU-BOM-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = CCU
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=CCU-DEL-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = CCU
destin = JAI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=CCU-JAI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = CCU
destin = MAA

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=CCU-MAA-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = CCU
destin = LKU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=CCU-LKU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = CCU
destin = CCU

origin = CCU
destin = PNQ

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=CCU-PNQ-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

--------------
origin = PNQ
destin = GOI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-GOI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = PNQ
destin = AMD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-AMD-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = PNQ
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-TIR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = PNQ
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-BLR-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = PNQ
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-BOM-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = PNQ
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-DEL-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = PNQ
destin = JAI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-JAI-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = PNQ
destin = MAA

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-MAA-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = PNQ
destin = LKU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-LKU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = PNQ
destin = CCU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PNQ-CCU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-d039f2a5c307>, LINE 9 "driver.get(baseDataUrl)"): Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=94.0.4606.61)

15/10/2021  scraping complete

origin = PNQ
destin = PNQ

In [18]:
#checking scraped Flight Price data
df=pd.read_csv("Flight.csv")
df

,Unnamed: 0,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,"₹ 5,315"
2,1,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,"₹ 5,315"
3,2,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,"₹ 5,315"
4,3,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,"₹ 5,315"
...,...,...,...,...,...,...,...,...,...
2291,24,"IndiGo, Go First",17/10/2021,Kolkata,Goa,08:35,15:10,1 stop via Bengaluru,"₹ 13,871"
2292,25,"Spicejet, Go First",17/10/2021,Kolkata,Goa,08:50,15:10,1 stop via Bengaluru,"₹ 13,975"
2293,26,Go First,17/10/2021,Kolkata,Goa,05:30,11:40,1 stop via Jaipur,"₹ 15,640"
2294,27,Vistara,17/10/2021,Kolkata,Goa,07:10,13:50,1 stop via New Delhi,"₹ 17,934"
2295,28,"Air India, IndiGo",17/10/2021,Kolkata,Goa,09:10,17:35,"2 stop via Bhubaneswar,Hyderabad","₹ 20,707"

In [19]:
#Removing Columns "Unnamed:0 column as it will not affect our core dataset
df=df.drop('Unnamed: 0',axis=1,inplace=True)

In [22]:
#Removing First row as it have only NaN values
df=df.drop([df.index[0]])

In [23]:
#Equalizing Price column
df.Price = df.Price.str.replace('[^0-9.]','').astype('float64')
df

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
1,Spicejet,15/10/2021,Goa,Ahmedabad,14:50,17:00,Non stop,5315.0
2,Go First,15/10/2021,Goa,Ahmedabad,15:40,17:10,Non stop,5315.0
3,Spicejet,15/10/2021,Goa,Ahmedabad,19:40,21:40,Non stop,5315.0
4,Go First,15/10/2021,Goa,Ahmedabad,20:25,22:05,Non stop,5315.0
5,Go First,15/10/2021,Goa,Ahmedabad,16:15,21:05,1 stop via Mumbai,5315.0
...,...,...,...,...,...,...,...,...
2291,"IndiGo, Go First",17/10/2021,Kolkata,Goa,08:35,15:10,1 stop via Bengaluru,13871.0
2292,"Spicejet, Go First",17/10/2021,Kolkata,Goa,08:50,15:10,1 stop via Bengaluru,13975.0
2293,Go First,17/10/2021,Kolkata,Goa,05:30,11:40,1 stop via Jaipur,15640.0
2294,Vistara,17/10/2021,Kolkata,Goa,07:10,13:50,1 stop via New Delhi,17934.0
2295,"Air India, IndiGo",17/10/2021,Kolkata,Goa,09:10,17:35,"2 stop via Bhubaneswar,Hyderabad",20707.0

In [24]:
df.dtypes

Airline          object
Journey_date     object
From             object
To               object
Dtime            object
Atime            object
Stops            object
Price           float64
dtype: object

In [25]:
#saving Flight Price data as csv file
df.to_csv("flight_price.csv")

In [26]:
#Shape of our Dataset after updation
print("Shape of our dataset is ",df.shape)
print("Column count in our dataset is",df.shape[1])
print("Row count in our dataset is ",df.shape[0])

Shape of our dataset is  (2295, 8)
Column count in our dataset is 8
Row count in our dataset is  2295

In [27]:
#Checking null values in Dataset
print("Empty cells in Dataset is ",df.isna().values.any())

Empty cells in Dataset is  False

# ||Happy Ending||